<html>
    <head>
        <title>Akash Giri's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Akash Giri's Blog</a></h1>
        </div>

        <div>
            <p>published: 18.11.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I'm so lazy to type my first post.</p>
        </div>

        <div>
            <p>published: 18.11.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I'm so so lazy to type my second post.</p>
        </div>
    </body>
</html>